body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  background-color: #1c1c1c;
  padding: 3px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
body::-webkit-scrollbar {
  display: none;
}

/* divs */
.title {
  background-color: #2c2c2c;
  border-radius: 8px;
  width: 100%;
  height: 30px;
  padding: 3px;
  color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-base-info {
  background-color: #2c2c2c;
  width: 100%;
  min-height: 130px;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 110px;
  height: 110px;
  background-color: #3c3c3c;
  border-radius: 12px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 100px;
  height: 100px;
}

.infos {
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.infos .user-desc {
  padding-left: 10px;
}

.infos .user-desc::before {
  content: "• ";
}

.infos .user-name {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.spacer {
  width: 8px;
}

.no-icon {
  color: #f3f3f3;
  font-weight: bold;
}

.go-btn {
  width: 120px;
  height: 30px;
  padding: 3px;
  border: none;
  border-radius: 10px;
  background-color: #3c3c3c;
  color: #f3f3f3;
  font-weight: bold;
}

.go-btn:hover {
  cursor: pointer;
}
